html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

figcaption,
figure,
main {
  /* 1 */
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  border: 0;
  outline: none; }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
  resize: none; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

*, *:before, *:after {
  box-sizing: inherit; }

ol, ul {
  list-style: none; }

fieldset, ul, ol, button, menu {
  padding: 0; }

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre, fieldset, ul, ol, menu, form {
  margin: 0; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

td {
  padding: 0; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.column {
  display: flex;
  flex-direction: column; }

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 24px; }

p {
  font-size: 0.75em;
  line-height: 1em; }

img {
  max-width: 100%; }

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }

.hidden {
  display: none; }

.item-center {
  margin: 0 auto; }

body, html {
  width: 100%;
  height: 100%; }

.Head {
  height: 100vh;
  min-height: 650px;
  padding-top: 0;
  padding-bottom: 0; }

.Header {
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 9999;
  padding: 2%;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 576px) {
    .Header {
      flex-direction: column; } }
  @media (max-width: 576px) {
    .Header .Logo {
      text-align: center; } }
  @media (max-width: 576px) {
    .Header .Nav {
      display: flex;
      visibility: hidden;
      flex-direction: column;
      text-align: center;
      margin: 10px;
      width: 40%;
      margin: 0 auto;
      opacity: 0;
      transition: opacity 0.3s linear; } }
  .Header .Nav a {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    margin-right: 40px; }
    @media (max-width: 576px) {
      .Header .Nav a {
        padding: 6px;
        margin-right: 0;
        text-align: center; } }
  @media (max-width: 576px) {
    .Header .RightNav {
      text-align: center;
      position: absolute;
      right: 12px; } }
  .Header .RightNav a {
    margin-left: 20px; }
    @media (max-width: 576px) {
      .Header .RightNav a {
        text-align: center;
        margin-left: 10px; } }
    .Header .RightNav a:hover {
      opacity: .8; }

.Slider {
  z-index: 999;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  .Slider:before {
    z-index: 9999;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(-45deg, #0d92c1 0%, rgba(112, 176, 224, 0.1) 26%, rgba(112, 176, 224, 0) 100%);
    background: -webkit-linear-gradient(-45deg, #0d92c1 0%, rgba(112, 176, 224, 0.1) 26%, rgba(112, 176, 224, 0) 100%);
    background: linear-gradient(135deg, #0d92c1 0%, rgba(112, 176, 224, 0.1) 26%, rgba(112, 176, 224, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d92c1', endColorstr='#0070b0e0',GradientType=1 ); }
  .Slider .Slide {
    background-size: cover;
    background-position: center center;
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20000px #000;
    z-index: 10; }
    .Slider .Slide-content {
      z-index: 9999;
      width: 1100px;
      margin: 0 auto; }
      @media (max-width: 576px) {
        .Slider .Slide-content {
          padding: 20px; } }
  .Slider .slide-1 h4 {
    display: inline;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500; }
    .Slider .slide-1 h4:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 2px;
      width: 100%;
      background-color: #fff; }
  .Slider .slide-1 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 20px; }
    @media (max-width: 576px) {
      .Slider .slide-1 h1 {
        font-size: 1.75rem; } }
  .Slider .slide-1 span {
    display: flex;
    justify-content: left;
    margin-top: 40px; }
    .Slider .slide-1 span img {
      margin-right: 20px; }
    .Slider .slide-1 span h3 {
      font-size: 1rem;
      align-self: center; }

.Donate {
  display: flex;
  align-self: left;
  position: absolute;
  margin: 2%;
  bottom: 0;
  z-index: 99999;
  width: 100%; }
  @media (max-width: 576px) {
    .Donate {
      margin: 0;
      display: none; } }
  .Donate .Social {
    display: flex;
    flex-direction: column; }
    @media (max-width: 576px) {
      .Donate .Social {
        display: none; } }
    .Donate .Social a {
      margin: 6px 0;
      align-self: center; }
  .Donate .Form {
    width: 1200px;
    height: 100px;
    border-radius: 4px;
    margin: 0 auto;
    z-index: 99999;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly; }
    @media (max-width: 576px) {
      .Donate .Form {
        width: 80%;
        flex-direction: column;
        height: 100%; } }
    .Donate .Form .title {
      border-right: 1px solid #dfe3e8; }
      @media (max-width: 576px) {
        .Donate .Form .title {
          border-bottom: 1px solid #dfe3e8; } }
      .Donate .Form .title h4 {
        color: #3E4C5B;
        font-size: 1rem;
        font-weight: 500;
        padding: 0 80px;
        align-self: center;
        line-height: 100px; }
        @media (max-width: 576px) {
          .Donate .Form .title h4 {
            font-size: 1rem;
            font-weight: 500;
            padding: 10px;
            text-align: center;
            line-height: 2rem; } }
    .Donate .Form .amount, .Donate .Form .period {
      display: flex;
      flex-direction: column;
      border-right: 1px solid #dfe3e8;
      padding: 0 80px; }
      @media (max-width: 576px) {
        .Donate .Form .amount, .Donate .Form .period {
          padding: 0;
          flex-direction: row;
          justify-content: space-around; } }
      .Donate .Form .amount span, .Donate .Form .period span {
        color: #3E4C5B;
        font-size: 0.75rem;
        line-height: 40px;
        text-align: center; }
      .Donate .Form .amount select, .Donate .Form .period select {
        color: #3E4C5B;
        font-size: 1.5rem;
        font-weight: 500;
        position: relative;
        display: block; }
        .Donate .Form .amount select option, .Donate .Form .period select option {
          font-size: 1rem;
          padding: 10px; }
    .Donate .Form .period {
      border-right: 1px solid #dfe3e8; }
    .Donate .Form .button button {
      background-color: #22CF5F;
      color: #fff;
      border-radius: 4px;
      font-size: 1.5rem;
      padding: 24px 60px;
      font-weight: bold;
      align-content: left;
      margin-top: 14px; }
      @media (max-width: 576px) {
        .Donate .Form .button button {
          width: 100%; } }

.Content {
  display: block;
  width: 60%;
  margin: 160px auto; }
  @media (max-width: 576px) {
    .Content {
      width: 90%;
      margin: 40px auto; } }
  .Content h2.title {
    margin: 40px 0;
    font-size: 4rem;
    color: #3E4C5B; }
    @media (max-width: 576px) {
      .Content h2.title {
        font-size: 2rem; } }

.MainBlogs .Blog, .SliderBlogs .Blog, .LatestBlogs .Blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px; }
  @media (max-width: 576px) {
    .MainBlogs .Blog, .SliderBlogs .Blog, .LatestBlogs .Blog {
      flex-direction: column; } }
  .MainBlogs .Blog .photo, .SliderBlogs .Blog .photo, .LatestBlogs .Blog .photo {
    width: 40%; }
    @media (max-width: 576px) {
      .MainBlogs .Blog .photo, .SliderBlogs .Blog .photo, .LatestBlogs .Blog .photo {
        width: 100%; } }
    .MainBlogs .Blog .photo img, .SliderBlogs .Blog .photo img, .LatestBlogs .Blog .photo img {
      width: 100%; }
  .MainBlogs .Blog .summary, .SliderBlogs .Blog .summary, .LatestBlogs .Blog .summary {
    display: flex;
    flex-direction: column;
    width: 45%;
    color: #3E4C5B; }
    @media (max-width: 576px) {
      .MainBlogs .Blog .summary, .SliderBlogs .Blog .summary, .LatestBlogs .Blog .summary {
        width: 100%; } }
    .MainBlogs .Blog .summary .category, .SliderBlogs .Blog .summary .category, .LatestBlogs .Blog .summary .category {
      font-size: 0.75rem;
      font-weight: 700;
      margin-bottom: 40px; }
      @media (max-width: 576px) {
        .MainBlogs .Blog .summary .category, .SliderBlogs .Blog .summary .category, .LatestBlogs .Blog .summary .category {
          margin-bottom: 10px;
          margin-top: 10px; } }
    .MainBlogs .Blog .summary h2, .SliderBlogs .Blog .summary h2, .LatestBlogs .Blog .summary h2 {
      font-size: 2.75rem;
      line-height: 3rem; }
      @media (max-width: 576px) {
        .MainBlogs .Blog .summary h2, .SliderBlogs .Blog .summary h2, .LatestBlogs .Blog .summary h2 {
          font-size: 1.25rem;
          line-height: 1.5rem; } }
    .MainBlogs .Blog .summary p, .SliderBlogs .Blog .summary p, .LatestBlogs .Blog .summary p {
      color: #a5adb5;
      margin: 40px 0;
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: 500; }
      @media (max-width: 576px) {
        .MainBlogs .Blog .summary p, .SliderBlogs .Blog .summary p, .LatestBlogs .Blog .summary p {
          margin: 10px 0;
          font-size: 0.75rem;
          line-height: 1rem; } }
    .MainBlogs .Blog .summary a, .SliderBlogs .Blog .summary a, .LatestBlogs .Blog .summary a {
      color: #22CF5F;
      font-size: 0.75rem;
      margin-top: 20px;
      font-weight: 700; }
      .MainBlogs .Blog .summary a span, .SliderBlogs .Blog .summary a span, .LatestBlogs .Blog .summary a span {
        margin-left: 60px; }

.Numbers {
  display: flex; }
  @media (max-width: 576px) {
    .Numbers {
      flex-direction: column; } }
  .Numbers .Desc {
    width: 60%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 576px) {
      .Numbers .Desc {
        width: 100%; } }
    .Numbers .Desc h2 {
      color: #3E4C5B;
      font-size: 3rem; }
      @media (max-width: 576px) {
        .Numbers .Desc h2 {
          font-size: 1.5rem; } }
    .Numbers .Desc p {
      color: #a5adb5;
      padding: 40px 0;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.50rem;
      width: 70%; }
      @media (max-width: 576px) {
        .Numbers .Desc p {
          font-size: 0.75rem;
          line-height: 1rem; } }
    .Numbers .Desc ul {
      display: flex; }
      .Numbers .Desc ul li span {
        font-size: 4rem;
        color: #22CF5F;
        font-weight: 300; }
      .Numbers .Desc ul li h5 {
        font-size: 1rem;
        color: #3E4C5B;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1rem; }
  .Numbers .BigNumber {
    width: 40%; }
    @media (max-width: 576px) {
      .Numbers .BigNumber {
        width: 100%; } }
    .Numbers .BigNumber .square {
      display: flex;
      flex-direction: column;
      border: 3px solid #22CF5F;
      border-radius: 4px;
      height: 400px;
      text-align: center;
      padding-top: calc(50% - 40px); }
      .Numbers .BigNumber .square span {
        font-size: 4rem;
        color: #22CF5F;
        font-weight: 300; }
      .Numbers .BigNumber .square h5 {
        font-size: 1rem;
        color: #3E4C5B;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1rem; }

@media (max-width: 576px) {
  .SliderBlogs {
    margin-top: 60px; } }
.SliderBlogs .Blog .photo {
  width: 50%; }
  @media (max-width: 576px) {
    .SliderBlogs .Blog .photo {
      width: 100%; } }
.SliderBlogs .Blog .summary {
  width: 45%; }
  @media (max-width: 576px) {
    .SliderBlogs .Blog .summary {
      width: 100%; } }

@media (max-width: 576px) {
  .LatestBlogs .row {
    flex-direction: column; } }
.LatestBlogs .Blog {
  width: 45%;
  margin-bottom: 80px; }
  @media (max-width: 576px) {
    .LatestBlogs .Blog {
      width: 100%;
      margin-bottom: 40px; } }
  .LatestBlogs .Blog .summary {
    width: 100%; }
    .LatestBlogs .Blog .summary .photo {
      width: 100%;
      border-radius: 4px; }
    .LatestBlogs .Blog .summary span.title {
      margin: 40px 0;
      font-size: 0.75rem;
      color: #a5adb5; }
      @media (max-width: 576px) {
        .LatestBlogs .Blog .summary span.title {
          margin: 10px 0; } }

.Subscribe h4, .Subscribe h5 {
  text-align: center;
  font-weight: 400;
  color: #3E4C5B; }
  @media (max-width: 576px) {
    .Subscribe h4, .Subscribe h5 {
      font-size: 1rem; } }
.Subscribe h5 {
  color: #22CF5F;
  font-weight: 800; }
.Subscribe form.SubscribeForm {
  width: 60%;
  margin: 60px auto;
  display: flex; }
  @media (max-width: 576px) {
    .Subscribe form.SubscribeForm {
      flex-direction: column;
      width: 90%; } }
  .Subscribe form.SubscribeForm input {
    width: 70%;
    font-size: 1rem;
    font-weight: 400;
    padding: 20px;
    line-height: 2rem;
    border: 1px solid #22CF5F;
    border-left: 3px solid #22CF5F;
    border-radius: 4px 0 0 4px; }
    @media (max-width: 576px) {
      .Subscribe form.SubscribeForm input {
        width: 100%;
        border-left: 1px solid #22CF5F;
        border: 1px solid #22CF5F;
        border-radius: 4px 4px 0 0; } }
  .Subscribe form.SubscribeForm button {
    width: 30%;
    padding: 20px;
    background-color: #22CF5F;
    font-size: 1rem;
    color: #fff;
    border-radius: 0 4px 4px 0; }
    @media (max-width: 576px) {
      .Subscribe form.SubscribeForm button {
        width: 100%;
        border-radius: 0 0 4px 4px; } }

footer {
  width: 100%;
  padding: 20px;
  background-color: #22CF5F; }
  @media (max-width: 576px) {
    footer {
      flex-direction: column !important; } }
  footer .Copyright {
    font-size: 0.75rem;
    line-height: 2rem;
    color: #fff;
    font-weight: 500; }
    @media (max-width: 576px) {
      footer .Copyright {
        text-align: center;
        line-height: 1rem; } }
    footer .Copyright strong {
      font-weight: 800; }
  footer .Social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px; }
    footer .Social a {
      margin: 0 10px;
      align-self: center; }

.Search {
  position: absolute;
  z-index: 99999;
  right: -300px;
  top: 32px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }
  @media (max-width: 576px) {
    .Search {
      top: -125px;
      left: calc(50% - 123px); } }
  .Search input {
    width: 240px;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    font-weight: lighter;
    font-size: 1rem; }
  .Search button {
    background: transparent;
    margin-left: -44px; }

.showSearch {
  right: 125px; }
  @media (max-width: 576px) {
    .showSearch {
      top: 125px;
      left: calc(50% - 123px);
      width: 100%; } }

.LanguageMenu {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  font-size: 1rem;
  background: #22CF5F;
  padding: 10px 20px;
  top: 80px;
  right: 32px;
  border-radius: 4px;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease; }
  @media (max-width: 576px) {
    .LanguageMenu {
      top: 48px;
      right: 12px; } }
  .LanguageMenu a {
    margin: 10px 0 !important;
    color: #fff;
    font-size: 0.8rem; }
    .LanguageMenu a:hover {
      opacity: .8; }

.showLanguage {
  opacity: 1;
  visibility: visible; }

.MobileMenuButton {
  background: #fff;
  border-radius: 4px;
  color: #3E4C5B !important;
  width: 80px;
  margin: 10px auto !important;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  display: none; }
  @media (max-width: 576px) {
    .MobileMenuButton {
      display: block; } }

.showMobileMenu {
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity 0.3s linear; }

/*# sourceMappingURL=main.css.map */
